---

---

<div class="max-w-7xl mx-auto flex md:mt-32 justify-center py-8 px-4">
	<div class="flex bg-gray-100 rounded-2xl relative justify-end">
		<div class="">
			<img src="../../public/cta.svg" alt="" class="md:absolute md:block -left-64 -top-16 hidden">
		</div>
		<div class="flex flex-col justify-center items-start md:w-3/4 wd-full space-y-8 p-8 ">
			<h3 class="text-4xl font-bold">Take your rental property business to the next level</h3>
			<p>ervasi lays the groundwork for any rental business model so you can easily manage booking and focus on growing your rental business</p>
		</div>
	</div>


</div>